@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300|Share+Tech+Mono);
body {
    font-family: 'Yanone Kaffeesatz';
    font-weight: 300;
    line-height: 150%;
    margin: 0;
    margin: auto;
}

#zest-content {
    margin: 0px auto;
    width: 800px;
}

strong {
    font-weight: 400;
}

code {
    color: green;
}

code, pre {
    font-family: 'Share Tech Mono';
    font-size: 90%;
}

header {
    text-align: center;
    background: #e66000;
    margin: 0;
    padding: 40px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000;
    font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #441d00;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 350%;
}

h3 {
    font-size: 300%;
}

h4 {
    font-size: 250%;
}

h5 {
    font-size: 200%;
}

h6 {
    font-size: 150%;
}

ul {
    list-style: square;
}

ol {
    list-style: lower-roman;
}

blockquote {
    background: #ffecdf;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
    position: relative;
}

blockquote:before {
    color: #e66000;
    content: open-quote;
    font-size: 4em;
    position: absolute;
    left: 0;
}
blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    position: absolute;
    right: 0;
}

a {
    color: #e66000;
    text-decoration: none;
}