<!DOCTYPE html>
<html>
    <head>
        <title>ZEST</title>
        <link rel="stylesheet" type="text/css" href="theme/main.css" />
    </head>
    <body>
        <header>
            ZEST
        </header>
        <div id="zest-content">
            <%=content%>
        </div>
    </body>
</html>